
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a>
            CJC
          </a>
        </li>
        <li>
          <a>
            KARVENAGAR
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            BATCH-115
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed & Coded by 
      <a href="#" target="_blank">TEAM-1</a>,
      <a href="#" target="_blank">[Shrutee, Manoj, Sonal, Anuja, Mahesh]</a>.
    </div>
  </div>
</footer>
